<div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px;">
<div class="container">
  <h1>Welcome to Homepage!</h1>

<li class="nav-item">
  <button onclick="window.location.href='<%= signup_path %>'" style="background-color: #c3aed6; border-color: #c3aed6; color: white; font-size: 20px;">Signup</button>
</li>


