<div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px;"> 
<h1> Edit the medium </h1> 

<%= render 'form' %>

<%= button_to "Cancel and return to medium", mediums_path, method: :get %>
