<div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px;"> 
<h1> Edit playlist </h1>

<%= render 'form' %>

<%= button_to "Cancel and return to playlists", playlists_path, method: :get %>
