<div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px;"> 
<h1> Create a new playlist </h1>

<%= render 'form' %>

<%= button_to "Return to playlists", playlists_path, method: :get %>


